<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="/pokemon.css">
</head>
<body>
    <nav>
        <button><a href="/pokemon?offset=<%= offset ? (offset - 20) : 900 %>">Prev</a></button>
        <button><a href="/">Home</a></button>
        <button><a href="/pokemon?offset=<%= offset === 900 ? 0 : (offset + 20) %>">Next</a></button>
    </nav>
    <div class="navLine"></div>

    <main>
        <div class="container <%= (offset === 900) ? 'end' : '' %>">
            <% for (let poke of pokeData) { %>
                    <div><a href="/pokemon/<%= poke.name %>"><img loading="lazy" class="pokeImg" src='<%= poke.sprite %>' alt="<%= poke.name %>"></a></div>
            <% } %>
        </div>
    </main>
</body>
</html>