<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="/search.css">

    <script>
        function searchFunc() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('input');
            filter = input.value.toUpperCase();
            ul = document.getElementById("ul");
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</head>

<body>
    <nav>
        <button><a href="/">Home</a></button>
    </nav>
    <div class="navLine"></div>

    <main>
        <div class="container">
            <h1>Pokemon Search</h1>
            <input type="text" id="input" onkeyup="searchFunc()" placeholder="Search for names..">
            <div class="scrollElement">
                <ul id="ul">
                    <%  for (let pokemon of pokeData) { %>
                        <%  let dexNum; %>
                        <%  if (pokemon.dex_num >= 100) {
                            dexNum = pokemon.dex_num;
                        } else if (pokemon.dex_num >= 10) {
                            dexNum = '0' + pokemon.dex_num;
                        } else {
                            dexNum = '00' + pokemon.dex_num;
                        } %>

                        <li>
                            <a href="/pokemon/<%= pokemon.name %>">
                                <table style="width: 100%;">
                                    <tr style="width: 100%;">
                                        <td style="width: 10%;"><%= dexNum %></td>
                                        <td style="width: 80%;"><%= titleCase(pokemon.display_name.replaceAll('-', ' ')) %></td>
                                        <td style="width: 10%;"><img style="width: 100%; height: auto;" src="<%= pokemon.sprite %>" alt="<%= pokemon.display_name %>"></td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                    <%  } %>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>

<% function titleCase(str) {
    var splitStr = str.toLowerCase().split(' ');
    for (var i = 0; i < splitStr.length; i++)
        splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
    return splitStr.join(' ');
} %>